.description {

  &__section {
    margin-top: 120px;
  }

  &__h1 {
    font-family: 'Gilroy';
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
    color: #333333;
  }
}